<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

	<div class="container">
		<h1 th:text="'(Repository)= https://github.com/' + ${repo} "></h1>
		<p hidden="true" id="repoBase" th:text="${repo} "></p>

		<h4>List of 100 latest committer(number of commits)</h4>
		<br></br>

		<div class="table-responsive">
			<table id="container" class="table table-bordered">
				<thead>
					<tr class="table-info">
						<th scope="col">Name</th>
						<th scope="col">Number of Commit</th>
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>
		</div>
	</div>

		<script>
			jQuery(document).ready(function ($) {
				getCommiterAjax();
			});


			function getCommiterAjax() {
				$.ajax("get-latest-committer", {
					type: 'POST',
					data: {
						'repository': document.getElementById("repoBase").textContent
					},
					dataType: 'json',	
					success: function (data) {

						var statusHTML = '';
						$.each(data, function (key, value) {
							statusHTML += '<tr class="clickable-row"><a href="/greeting">';
							statusHTML += '<td>'
								+ key + '</td>';
							statusHTML += '<td>'
								+ value
								+ '</td>';

							statusHTML += '</a></tr>';
						});

						$('tbody').html(statusHTML);


					},
					error: function (e) {
						console.log("ERROR: ", e);
					}
				});
			}
		</script>
</body>

</html>